*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 17rem;
    /* padding-bottom:rem; */
    justify-content: center;
    height: 600px;
    width: 1000px;
    text-align: center;
    background-color: beige;
    padding-bottom: 8rem;
    
}
.main_container{
    border-radius: 9px;
    background-color: bisque;
    /* margin: 3rem; */
    margin-top: 3rem;
    margin-bottom: rem;
    
    justify-content: center;
    /* padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
     */
}
.first_card{
    position: static; 
}
.bg{
    max-width: 100%;
    max-height: 2vh;
}
.bg_img{
        height: 40vh;
        width: 100%;
        border-radius: 9px;
}
.top{
    display: flex; 
}

.headline{
    margin-top: -2.5rem;
    .heading{
        color: darkgray;
        position: absolute
        top= 8px;
        left: 16px;
    }

}

.logo-icon{
    width: 130px;
    height: px;
    margin-left: 1rem;
    border-radius: 20px;
    overflow: hidden;
}

/* .logo-text{
    color: rgb(213, 18, 18);
} */


.desc{
    color: burlywood;
}

#get_button1{
    width: 200px;
    height: 40px;
    margin-top: 10.3rem;
    padding-inline: 0.3rem;
    font-weight: bold;
    font-size:15px ;
    border-radius: 30px;
    background-color: rgb(27, 109, 27);
    color: white;
}
.gaurranty{
   padding-top: 2.2rem;
    color: black;
}

.div2{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.img21{
   width: 500px;
   height: 300px;
   float: left;
   border-radius: 10px;
}

#row1_right{
    width: 300px;
    padding-left: 2rem;
    padding-right: 3rem;
    margin-top: 5rem;
    margin-left: 1rem;
    justify-content: end;
    align-items: center;

}

.get_button2{
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size:20px ;
    margin-top: 1rem;
    padding-inline: 0.3rem;
    border-radius: 30px;
    background-color: rgb(27, 109, 27);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.div3{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.row3_left{
    align-items: center;
    justify-content: center;
    width: 50rem;
    padding-right: 2rem;
}

.row3_right{
    height: 300px;
    border-radius: 10px;
}

.div4{
    margin-top: 1rem;
    display: flex;
    width: 904px;
    flex-direction: row;
    
   
}

#row4_left{
    width: 500px;
    /* height: 50px; */
    margin-top: 3.5rem;
    margin-right: 3rem;
    float: left;
    border-radius: 10px;
    
   
  

}

.row4_right{
    width: 380px;
    padding-left: 1rem;
    padding-right: 5rem;
    margin-top: 4rem;
    margin-left: 0.8rem;
    justify-content: end;
    align-items: center;
    /* padding-left: 10rem;
    padding-right: 2rem;
    margin-left: 15rem;
    justify-content: end;
    align-items: center; */
}

.os{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.windows{
    width: 30px;
    border: 1px solid black;
}

.macOS{
    width: 30px;
    border: 1px solid black;
}

.android{
    width: 30px;
    border: 1px solid black;
}

.iOS{
    width: 30px;
    border: 1px solid black;
}

.linux{
    width: 30px;
    border: 0.1px solid black;
}

.OS_anchor{
    margin-top: 0.8rem;
}

.get_button3{
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size:15px ;
    margin-top: 1rem;
    padding-inline: 0.3rem;
    border-radius: 30px;
    background-color: rgb(27, 109, 27);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.div5{
    margin-top: 4rem;
   max-width: fit-content;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   gap: 3rem;
   padding-right: 3rem;
   margin-right: 1rem;
}

.data_pro{
    width: 250px;
    height: 160px;
    border-radius: 50px;
}

.seamless{
    width: 250px;
    height: 160px;
    border-radius: 50px;
    margin-top: 0.56rem;
}

.quick-conn{
    width: 250px;
    border-radius: 50px;
    height: 160px;
    margin-top: 0.28rem;
}

.middle_section{
    padding: 2rem;
}

/* .div5{
    margin-top: 2rem;
} */

.globe{
    padding-bottom: 0rem;
    border-radius: 9px;
    margin-top: 2rem;
    width: 100%;
   
}